/***

Transitions between Ui states

*/


@keyframes hide {
    to {

        visibility: hidden !important;
    }
}

.removed * {
    text-overflow : clip !important;
    pointer-events: none !important;
    transition    : all 1s;
    height        : 0 !important;
    width         : 0 !important;
    min-height    : 0 !important;
    min-width     : 0 !important;
    margin        : 0 !important;
    padding       : 0 !important;
    border-width  : 0 !important;
    animation     : 1s 1s hide;
    outline       : 0.5px dashed orangered;
}

.removable {
    outline: 0.5px dashed orangered;
}

.inserted {
    outline: 0.5px dashed yellowgreen;
}