.handle,
.info,
.control {
    border     : 0.5px solid black;
    padding    : 1rem;
    flex-grow  : 0;
    box-sizing : border-box;
    flex-shrink: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display       : flex;
    flex-direction: column;
}

.scene {
    flex-grow      : 1;
    background     : black;
    color          : white;
    overflow       : auto;
    scroll-behavior: smooth;
}

.control {
    flex-basis: 10rem;
    background: silver;
}


.info {
    width     : fit-content;
    position  : absolute;
    bottom    : 9rem;
    max-width : 50%;
    right     : 1rem;
    background: greenyellow;
}

.control:empty {
    flex-basis: 0;
}

.info:empty {
    padding     : 0;
    border-width: 0;
}

/*-------------------------------------------*/



a:link[href] {
    color          : blue;
    text-decoration: underline;
}

a[role="switch"],
button {
    background: #bbb;
    padding   : 2px 10px;
}

a[aria-checked="false"],
button {
    border: 4px #ddd outset;
}

a[aria-checked="true"],
a[role="switch"]:active,
button:active {
    border: 4px #ccc inset;
}

button:focus {
    outline       : 2px solid black;
    outline-offset: 0.5px;
}

.scene a {
    background: white;
}



/*-------------------------------------------*/
/* Application */

:has(> #counter) {
    padding-bottom: 15rem;
}

:has(> center-me) {
    background-color: darkgreen;
}

article {
    max-width: 23rem;
    margin   : auto;
    padding  : 1rem;
}


#counter {
    display   : inline;
    background: linear-gradient(darkolivegreen, darkblue);
}

#counter p {
    border          : 2px outset turquoise;
    background-color: darkslategray;
    display         : inline-block;
    box-shadow      : 3px;
    box-shadow      : 2px 2px 8px 1px black;
    position        : relative;
    animation       : 1s infinite alternate slidein;
    padding         : 1rem;
    margin          : 1rem;
}

#counter p:nth-last-child(odd) {
    border          : 2px outset magenta;
    background-color: darkmagenta;
}

#counter p:hover {
    border: 2px inset silver;
    cursor: text;
}

#counter p:first-of-type {
    animation: 2s appear;
}


@keyframes slidein {
    from {
        margin-left : 2rem;
        margin-right: 0rem;
    }
}

@keyframes appear {
    from {
        font-size: 0;
        padding  : 0;
        margin   : 0;
    }
}

* {
    transition: all 0.3s
}


/*-------------------------------------------*/
/* Garden */

.rhododendron {
    border: 1px solid white;
}

/*-------------------------------------------*/